LetterGeneration/Microsoft.Flow/flows/84874cdc-ae23-4440-828e-1566fc67e99f/definition.json
{"name":"21eb2192-71ac-469e-a1d4-2fbb4c1b27b7","id":"/providers/Microsoft.Flow/flows/21eb2192-71ac-469e-a1d4-2fbb4c1b27b7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Offer Letter for Internship","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-06T13:16:33.8813524Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"863e63de-5787-4592-bb0b-2923155e48e9"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fOffer%2bLetter.docx":"/Shared Documents/Offer Letter.docx","operationMetadataId":"e395db0d-b80e-45ca-8da4-d5020cf59778","%252fOffer_Letter%252fOffer%2bLetter.docx":"/Offer_Letter/Offer Letter.docx","%252fOffer%2bLetters%252fOffer%2bLetter.docx":"/Offer Letters/Offer Letter.docx","%252fOffer%2bLetters%252fOffer%2bLetter%2bTemplate%252fOffer%2bLetter.docx":"/Offer Letters/Offer Letter Template/Offer Letter.docx","%252fOffer%2bLetter%252fOffer%2bLetter%2bFor%2bInternship%252fTemplate%252fInternship%2bOffer%2bLetter.docx":"/Offer Letter/Offer Letter For Internship/Template/Internship Offer Letter.docx","%252fOffer%2bLetter%252fOffer%2bLetter%2bFor%2bInternship%252fTemplate%252fInternship%2bOffer%2bLetter%2b(1).docx":"/Offer Letter/Offer Letter For Internship/Template/Internship Offer Letter (1).docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fOffer%2bLetter%252fOffer%2bLetter%2bFor%2bInternship%252fTemplate%252fInternship%2bOffer%2bLetter.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_in_docx":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"1736559f-3871-4a04-b076-c75394b93b05"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter For Internship/Docx Format","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_of_docx":{"runAfter":{"Create_file_in_docx":["Succeeded"]},"metadata":{"operationMetadataId":"6d90339c-d0bc-46fd-b3b3-5d57f024c294"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file_in_docx')?['body/ItemId']","item/FirstName":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/Position":"@outputs('Get_item')?['body/Position']","item/StartDate":"@outputs('Get_item')?['body/JoiningDate']","item/HRName":"@outputs('Get_item')?['body/HRName/DisplayName']","item/Stipend":"@outputs('Get_item')?['body/Stipend']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_of_update_docx":{"runAfter":{"Update_file_properties_of_docx":["Succeeded"]},"metadata":{"operationMetadataId":"2d44ef4d-ca2f-4c67-9842-8fdfcfe20680"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties_of_docx')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_in_docx_with_update":{"runAfter":{"Get_file_content_of_update_docx":["Succeeded"]},"metadata":{"operationMetadataId":"d7de41d0-4594-48f7-afe7-0ce494b508e5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_of_update_docx')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_docx_file_in_pdf":{"runAfter":{"Create_file_in_docx_with_update":["Succeeded"]},"metadata":{"operationMetadataId":"3839cfde-70ba-4bb4-832d-cb74e2d0520b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_in_docx_with_update')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_pdf_file_in_sharepoint":{"runAfter":{"Convert_docx_file_in_pdf":["Succeeded"]},"metadata":{"operationMetadataId":"c9b63a23-2e75-4e61-9a6c-416222eebecd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter For Internship","name":"@outputs('Convert_docx_file_in_pdf')?['headers/x-ms-file-name']","body":"@body('Convert_docx_file_in_pdf')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_pdf_file_in_sharepoint":["Succeeded"]},"metadata":{"operationMetadataId":"057b739f-f392-4daf-8953-fb9f355d8f1f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_pdf_file_in_sharepoint')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"3c2c704a-db48-4477-9a96-512f5f4c6533"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"2ec5715a-3f80-448a-a020-cd7609d0859b","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/Place":"@outputs('Get_item')?['body/Place']","item/Position":"@outputs('Get_item')?['body/Position']","item/Stipend":"@outputs('Get_item')?['body/Stipend']","item/Date":"@outputs('Update_file_properties_of_docx')?['body/Date']","item/JoiningDate":"@outputs('Get_item')?['body/JoiningDate']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"b33ec6cd-e439-4f07-b721-6162183d9376"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"2ec5715a-3f80-448a-a020-cd7609d0859b","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"a76405b9-b280-4828-9cf6-b9635cf1f808"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"2ec5715a-3f80-448a-a020-cd7609d0859b","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_docx_file_in_pdf')?['headers/x-ms-file-name']","body":"@body('Convert_docx_file_in_pdf')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}