LetterGeneration/Microsoft.Flow/flows/5254b2d9-f51e-4ae4-b213-4b498aff1e02/definition.json
{"name":"13c5212a-5ddd-4501-ac60-6571c3569ec5","id":"/providers/Microsoft.Flow/flows/13c5212a-5ddd-4501-ac60-6571c3569ec5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Offer Letter for Employee","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-07T15:31:46.8854318Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5177f51f-a50a-4d37-9f1f-56c2c75f49f6"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"f4c66702-710e-4cde-bfb4-01737b30c6d5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"c18a419d-d695-4d5a-9b75-1c7c8edc5c14","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fOffer%2bLetter%252fOffer%2bLetter%2bfor%2bFixed%2bEmployee%252fTemplate%252fFixed%2bsalary%2bTemplate.docx":"/Offer Letter/Offer Letter for Fixed Employee/Template/Fixed salary Template.docx","operationMetadataId":"548e7730-680c-47b6-95b6-f2834440ad5d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fOffer%2bLetter%252fOffer%2bLetter%2bfor%2bFixed%2bEmployee%252fTemplate%252fFixed%2bsalary%2bTemplate.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"f43a19c4-ceb0-4509-ae8a-96152088ab47"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter for Fixed Employee/Docx Format","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"8f42f2e8-a26b-4c91-b191-db6287c4f508"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file')?['body/ItemId']","item/FirstName":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/Position":"@outputs('Get_item')?['body/Position']","item/StartDate":"@outputs('Get_item')?['body/JoiningDate']","item/HRName":"@outputs('Get_item')?['body/HRName/DisplayName']","item/Salary":"@outputs('Get_item')?['body/Salary']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"c57b9faa-584e-4da4-b74f-748cfc839b68"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"477d8f29-b71b-425d-9b9c-c970031e294f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"3331ad09-560b-4e8f-8963-1fd5e5260e35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"85b85abf-29f3-4bb8-8329-caf5c0be6a9f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter for Fixed Employee","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"e1d7178b-11c5-4698-8738-1ea9b4f48208"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file_3')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"6f7dd419-8988-48d0-a178-f5b0359a4b01"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"c18a419d-d695-4d5a-9b75-1c7c8edc5c14","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/Place":"@outputs('Get_item')?['body/Place']","item/Position":"@outputs('Get_item')?['body/Position']","item/Salary":"@outputs('Get_item')?['body/Salary']","item/JoiningDate":"@outputs('Get_item')?['body/JoiningDate']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']","item/Email":"@outputs('Get_item')?['body/Email']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"07df0b10-f9f2-4685-8add-d4ea7537814b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"c18a419d-d695-4d5a-9b75-1c7c8edc5c14","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}