LetterGeneration/Microsoft.Flow/flows/e51d5102-3851-4542-a7a2-a8e6e80805e1/definition.json
{"name":"ea2aa359-3b7d-4a42-b832-7151b3d739b4","id":"/providers/Microsoft.Flow/flows/ea2aa359-3b7d-4a42-b832-7151b3d739b4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PaySlip","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-24T12:37:41.851043Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c0e8d34b-b857-473c-ae5f-7cbc0bc81c67"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"e652b46a-1026-439c-8c8c-e2051845af6a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"34f21229-100a-4964-a4db-71c7fa02138d","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fPaySlip%2bDocument%252fTemplate%252fpayslip.docx":"/PaySlip Document/Template/payslip.docx","operationMetadataId":"de2ba816-9317-4587-a4c2-862508ff01d4","%252fPaySlip%2bDocument%252fTemplate%252fPay%2bslip%2btempl.docx":"/PaySlip Document/Template/Pay slip templ.docx","%252fPaySlip%2bDocument%252fTemplate%252fDemotic%2bT%2b-%2bPayslip%2bTemplate.docx":"/PaySlip Document/Template/Demotic T - Payslip Template.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fPaySlip%2bDocument%252fTemplate%252fDemotic%2bT%2b-%2bPayslip%2bTemplate.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"26fd72f0-eb45-48f7-91f1-1a030a940553"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/PaySlip Document/Docx Format","name":"Pay-Slip @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"df221efa-e018-4e98-99c0-5fc14fefdae4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"8810b66f-0ee7-460a-aec8-4950cd535885","id":"@outputs('Create_file')?['body/ItemId']","item/FullName":"@outputs('Get_item')?['body/Name']","item/Designation":"@outputs('Get_item')?['body/Designation']","item/Department":"@outputs('Get_item')?['body/Department']","item/PayPeriod":"@outputs('Get_item')?['body/PayPeriod']","item/WorkedDay":"@outputs('Get_item')?['body/WorkedDay']","item/Location":"@outputs('Get_item')?['body/Location']","item/DateofJoining":"@outputs('Get_item')?['body/DateofJoining']","item/BankName":"@outputs('Get_item')?['body/BankName']","item/BankA_x002f_CNumber":"@outputs('Get_item')?['body/BankA_x002f_CNumber']","item/BasicPay":"@outputs('Get_item')?['body/BasicPay']","item/IncentivePay":"@outputs('Get_item')?['body/IncentivePay']","item/Total":"@outputs('Get_item')?['body/Total']","item/Month":"@outputs('Get_item')?['body/Month/Value']","item/Year":"@outputs('Get_item')?['body/Year']","item/HRName/Claims":"@outputs('Get_item')?['body/HRName/DisplayName']","item/DateofBirth":"@outputs('Get_item')?['body/DateofBirth']","item/PAN":"@outputs('Get_item')?['body/PAN']","item/EmpID":"@outputs('Get_item')?['body/EmpID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"854234b8-212b-4f7c-9382-0b470cef8e8d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"5ddcb0c5-bb2a-405f-b57a-3151acd3a613"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Pay-Slip @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"d8d0fcbd-aff1-44c0-9d8e-82267e3002ac"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"6458d6d3-42b8-45dd-9734-a214125e038e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/PaySlip Document","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"9936b398-50c3-42f6-9cea-c0ad84768ed1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"8810b66f-0ee7-460a-aec8-4950cd535885","id":"@outputs('Create_file_3')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"d8cdf7a2-1763-469c-8c4d-6cc6864842c4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"34f21229-100a-4964-a4db-71c7fa02138d","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/Designation":"@outputs('Get_item')?['body/Designation']","item/Department":"@outputs('Get_item')?['body/Department']","item/Location":"@outputs('Get_item')?['body/Location']","item/DateofJoining":"@outputs('Get_item')?['body/DateofJoining']","item/BankName":"@outputs('Get_item')?['body/BankName']","item/BankA_x002f_CNumber":"@outputs('Get_item')?['body/BankA_x002f_CNumber']","item/BasicPay":"@outputs('Get_item')?['body/BasicPay']","item/IncentivePay":"@outputs('Get_item')?['body/IncentivePay']","item/Total":"@outputs('Get_item')?['body/Total']","item/Year":"@outputs('Get_item')?['body/Year']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']","item/Email":"@outputs('Get_item')?['body/Email']","item/DateofBirth":"@outputs('Get_item')?['body/DateofBirth']","item/PAN":"@outputs('Get_item')?['body/PAN']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"9597b959-5825-4ee7-8ed0-db0c3879e70b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"34f21229-100a-4964-a4db-71c7fa02138d","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"2d60cc2c-3d26-4118-b54d-3d8f1186cadd"},"type":"Compose","inputs":"@outputs('Get_item')?['body/Total']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}