LetterGeneration/Microsoft.Flow/flows/ed1e07c3-da87-480d-8eb7-91ae71bb16e8/definition.json
{"name":"4d411eaf-cedb-4149-a8dc-549ead13f2d2","id":"/providers/Microsoft.Flow/flows/4d411eaf-cedb-4149-a8dc-549ead13f2d2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Reliving Letter","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-07T05:45:46.946034Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"733f045b-0558-421b-ba0c-20f59398d2ec"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"5e61098a-3f29-43d1-b4da-dd6cf9a20ec6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0d99c670-1467-42ed-a516-b32634e550c3","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fReliving%2bLetter%252fTemplate%252fReliving%2bLetter.docx":"/Reliving Letter/Template/Reliving Letter.docx","operationMetadataId":"bf8ac830-b728-4b68-837e-58bd1fd5575a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fReliving%2bLetter%252fTemplate%252fReliving%2bLetter.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"9e58104e-a743-4e7e-8e85-c9959d07e95c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Reliving Letter/Docx Format","name":"Reliving Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"e7a483e9-17fd-4734-82e2-6875edd36689"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"8c5e715f-78b0-4fda-913b-cd5b42478c4f","id":"@outputs('Create_file')?['body/ItemId']","item/FullName":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/EmailDate":"@outputs('Get_item')?['body/EmailDate']","item/HRName/Claims":"@outputs('Get_item')?['body/HRName/DisplayName']","item/EndDate":"@outputs('Get_item')?['body/StartDate']","item/RelivedDate":"@outputs('Get_item')?['body/RelivedDate']","item/EndDate0":"@outputs('Get_item')?['body/EndDate']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"97f4c572-4fd0-45e5-89b7-adafe13f637a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"f45eba41-7032-40c4-9dd7-6de8b04001f4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Reliving Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"46a12ee0-af20-40b1-bc59-024a13f29f65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"ec17a8fe-7a1c-4593-91bc-f6b04c72ae8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Reliving Letter","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"6f93e18c-716e-42b7-944a-ff1bddb9d328"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"8c5e715f-78b0-4fda-913b-cd5b42478c4f","id":"@outputs('Create_file_3')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"1cad8c39-6033-4a70-add2-a61c543d53ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0d99c670-1467-42ed-a516-b32634e550c3","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/Place":"@outputs('Get_item')?['body/Place']","item/EmailDate":"@outputs('Get_item')?['body/EmailDate']","item/StartDate":"@outputs('Get_item')?['body/StartDate']","item/EndDate":"@outputs('Get_item')?['body/EndDate']","item/RelivedDate":"@outputs('Get_item')?['body/RelivedDate']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"70f0d855-2d6f-45d5-84f8-b8061b0609a5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0d99c670-1467-42ed-a516-b32634e550c3","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}