LetterGeneration/Microsoft.Flow/flows/f0c6ca21-3838-40ae-afa6-ec1ef5a4ce1d/definition.json
{"name":"597e1812-e55c-449a-927f-0380688a731f","id":"/providers/Microsoft.Flow/flows/597e1812-e55c-449a-927f-0380688a731f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Offer Letter for Variable Salary","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-07T14:29:23.4226356Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c6a1a5df-edea-4991-a4ef-416bdec92322"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"c1bf5baa-9ef6-4837-818f-2b4796ad5ca9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1093866f-b419-4d25-a013-4069a3e88149","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"1388a388-a866-4da1-921c-396906aa4010"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter For Variable Salary/Docx Format","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fOffer%2bLetter%252fOffer%2bLetter%2bFor%2bVariable%2bSalary%252fTemplate%252fVariable%2bSalary%2bTemplate.docx":"/Offer Letter/Offer Letter For Variable Salary/Template/Variable Salary Template.docx","operationMetadataId":"f70c3f1c-e58e-4239-89c0-031af0ec5289"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fOffer%2bLetter%252fOffer%2bLetter%2bFor%2bVariable%2bSalary%252fTemplate%252fVariable%2bSalary%2bTemplate.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"c6a41aa7-3f67-4cf2-afd9-0ac00680e671"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file')?['body/ItemId']","item/FirstName":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/Position":"@outputs('Get_item')?['body/Position']","item/StartDate":"@outputs('Get_item')?['body/JoiningDate']","item/HRName":"@outputs('Get_item')?['body/HRName/DisplayName']","item/CompensationSalary":"@outputs('Get_item')?['body/CompensationSalary']","item/BasicSalary":"@outputs('Get_item')?['body/BasicSalary']","item/VariableSalary":"@outputs('Get_item')?['body/VariableSalary']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"d15d1629-996f-4eac-a63b-65793fa8c9f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"1b1e3814-6942-49d9-8004-009dd4391f5f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Offer Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"62ae0d6e-64f6-4ce6-b212-3eafba1535b8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"39700bde-b7d8-430d-97ba-b479f2bce8ab"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Offer Letter For Variable Salary","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_item":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"2a49b175-264a-462b-8232-ef94deea347d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1093866f-b419-4d25-a013-4069a3e88149","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/JoiningDate":"@outputs('Get_item')?['body/JoiningDate']","item/Position":"@outputs('Get_item')?['body/Position']","item/CompensationSalary":"@outputs('Get_item')?['body/CompensationSalary']","item/BasicSalary":"@outputs('Get_item')?['body/BasicSalary']","item/VariableSalary":"@outputs('Get_item')?['body/VariableSalary']","item/Place":"@outputs('Get_item')?['body/Place']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']","item/Email":"@outputs('Get_item')?['body/Email']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"3f98e285-d3d3-4c85-812e-8447a06909ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file_3')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"b60c14b6-da3f-4386-b50d-82f8f42ee571"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1093866f-b419-4d25-a013-4069a3e88149","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}