LetterGeneration/Microsoft.Flow/flows/523461c3-369a-4691-ac17-b704afaf0534/definition.json
{"name":"3f4ed96b-e9e3-4461-a3c1-32ce347992b6","id":"/providers/Microsoft.Flow/flows/3f4ed96b-e9e3-4461-a3c1-32ce347992b6","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Training Letter","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dc43760d-28c7-4dcc-ab00-d820c857e303","type":"User","tenantId":"731d25d2-a65d-422d-a76a-4dab764015bd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-04-11T07:19:50.6886621Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"27a58572-5bcd-4cea-a4ae-38922432a55f"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"c8b28ddf-daa2-4ebd-9bca-d2d953907e8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0bd62ea0-00a8-40e9-a2f9-405d44356112","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"%252fOffer%2bLetter%252fTraining%2bLetter%252fTemplate%252ftraining%2btemplate.docx":"/Offer Letter/Training Letter/Template/training template.docx","operationMetadataId":"1597dd52-4ad1-4e1d-8349-0ea86cd5e962"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"%252fOffer%2bLetter%252fTraining%2bLetter%252fTemplate%252ftraining%2btemplate.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"c77516fd-6009-4475-a4ab-905c90e081fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Training Letter/Docx Format","name":"Training Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"dcf8f5cf-f970-4088-bb5a-c990b6873a8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file')?['body/ItemId']","item/FirstName":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/StartDate":"@outputs('Get_item')?['body/StartDate']","item/HRName":"@outputs('Get_item')?['body/HRName/DisplayName']","item/Salary":"@outputs('Get_item')?['body/Money']","item/TrainingProgramType":"@outputs('Get_item')?['body/TrainingProgramType']","item/EndDate":"@outputs('Get_item')?['body/EndDate']","item/SupervisorName/Claims":"@outputs('Get_item')?['body/Supervisor/DisplayName']","item/InterviewDate":"@outputs('Get_item')?['body/InterviewDate']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"88b935c4-c19b-4e20-bdcd-f99d1bded0c6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","id":"@outputs('Update_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_2":["Succeeded"]},"metadata":{"operationMetadataId":"fa5fed58-86a7-4fb4-ba1e-f9670060593c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Training Letter @{outputs('Get_item')?['body/Name']} @{utcNow()}.docx","body":"@body('Get_file_content_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"de1880d1-08df-4ea5-8b9a-a04a900e6fc1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"247aceeb-bd41-48b3-b052-898e8791e343"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","folderPath":"/Offer Letter/Training Letter","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"826d0d41-82cb-49c3-a901-ca6b5f45253b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"1b714a49-8c34-4fcb-9c9c-b8760d5bc5c0","id":"@outputs('Create_file_3')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"7f8fcba4-54e2-4226-b866-4b6f2d844d04"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0bd62ea0-00a8-40e9-a2f9-405d44356112","id":"@outputs('Get_item')?['body/ID']","item/Name":"@outputs('Get_item')?['body/Name']","item/Date":"@outputs('Get_item')?['body/Date']","item/Place":"@outputs('Get_item')?['body/Place']","item/InterviewDate":"@outputs('Get_item')?['body/InterviewDate']","item/TrainingProgramType":"@outputs('Get_item')?['body/TrainingProgramType']","item/Money":"@outputs('Get_item')?['body/Money']","item/StartDate":"@outputs('Get_item')?['body/StartDate']","item/EndDate":"@outputs('Get_item')?['body/EndDate']","item/PDFLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_attachment":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"7b4710bc-dc03-4365-b7c6-a97abc64cc60"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://abhi06.sharepoint.com/sites/LetterGeneration","table":"0bd62ea0-00a8-40e9-a2f9-405d44356112","itemId":"@outputs('Get_item')?['body/ID']","displayName":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4b4b10eaba2f4700a05330074148d226","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-ddb55d8f-fba0-470f-9e00-96aa351d7d69","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}